@model IEnumerable<Joke>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Simple Jokes</h1>
    <p>This app shows you stand-up shows, the comedians and links to watch these shows.</p>
</div>


<div class="container mt-5">
   
    <table class="table">
        <thead>
            <tr>
                <th>Comedian Name</th>
                <th>Stand-up Name</th>
                <th>Link to Stand-up show</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jokes in Model)
            {
                <tr>
                    <td>@jokes.Comedian</td>
                    <td>@jokes.StandUp</td>
                    <td><a href="@jokes.Link" target="_blank">@jokes.Link</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>